@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/sunset.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/* dark mode looking scrollbar */
::-webkit-scrollbar {
	cursor: pointer;
	width: 8px;
}

::-webkit-scrollbar-track {
	cursor: pointer;
	/* background: #161414; */
}

::-webkit-scrollbar-thumb {
	background: #535353;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #6e6d6d;
}